body
{}

input.fluidInfusions{
    width:50px;
}

.form-group .help-block {
    display: none;
}

.form-group.has-error .help-block {
    display: block;
}

.helpText{
    font-family: Consolas;
    font-style: italic;
    background-color: #a6e1ec;
}

.table1{
    width: 40%;
}

.table1 th{
    border-bottom: blue solid;
    line-height: 2.5em;
}
.table1 td{
    border-bottom: thin blue solid;
    padding: 10px;
}
