<div>
    <h3>Fluid Infusions</h3>
    <div class="row">
        <button ng-click="vm.test()">test</button>
        <div class="col-md-5">
            <form name="dexForm" class="form-inline" novalidate role="form">

                <div class="form-group"
                     ng-class="{'has-error':dexForm.dextoseConcentration.$invalid &&
                dexForm.dextoseConcentration.$touched || dexForm.$submitted && dexForm.dextoseConcentration.$invalid}">

                    <lable for="dextoseConcentration">Dextrose %</lable>

                    <select style="width: 100px" option-value-required="true" ng-model="vm.selectedDextrose"
                            ng-options="item as item.display for item in vm.dextroses"
                            class="form-control" id="dextoseConcentration" name="dextoseConcentration">
                        <!--<option ng-repeat="item in dextroses" value="item">{{ item.display }}</option>-->
                        <option></option>
                    </select>

                <span class="help-block"
                      ng-show="dexForm.dextoseConcentration.$touched || dexForm.$submitted"
                      ng-messages="dexForm.dextoseConcentration.$error">
                    <span ng-message="optionValueRequired">
                        Dextrose concentration is required!
                    </span>
                </span>

                </div>
                &nbsp;&nbsp;
                <div class="form-group"
                     ng-class="{'has-error':dexForm.volume.$invalid &&
                                    dexForm.volume.$touched || dexForm.volume.$invalid && dexForm.$submitted}">

                    <lable for="volume">Volume (mL)</lable>

                    <input jr-numbers-only ng-model="vm.volume" id="volume" name="volume" class="form-control"
                           style="width: 60px" type="text"
                           ng-required="true">

                <span class="help-block"
                      ng-show="dexForm.volume.$touched || dexForm.$submitted"
                      ng-messages="dexForm.volume.$error">
                    <span ng-message="required">
                        Volume is required!
                    </span>
                    <span ng-message="number">
                        Volume must be a number!
                    </span>
                </span>

                </div>
                &nbsp;&nbsp;
                <button ng-click="vm.addSelection()" type="submit" class="btn btn-success">
                    <span title="Add to fluid infusions">   Add</span>
                </button>
            </form>
        </div>
        <div class="col-md-3 helpText">
            Select the destrose concentration, enter the volume, then click add.  Do this for each fluid infusion entry.
        </div>
    </div>
    <div class="row">
        <jr-dropdown-results remove-result="vm.test()" results='vm.results'></jr-dropdown-results>
    </div>
</div>